# SECRETS

.env
shortconfig/

# TESTS

compile-environment/
studentcode/
*.rlib
*.csv
internal/
test/

# PACKAGES

node_modules

# LOGS

traces/

# DEBUGGER

.vscode/

# DATABASE

sqlite3/

.vscode

# Generated

target/
